#chart
{
  position: absolute;
  width: 100%;
  height: 82%;  
  margin: 5px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
}

.inner-chart
{
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.inner-chart-100
{
  width: 100%;
}

.inner-chart-50
{
  width: 50%;
}

.inner-chart-left
{
  padding-right: 5px;
}

.inner-chart-right
{
  padding-left: 5px;
}

.node 
{
  cursor: pointer;
  stroke: #646464;
  stroke-width: 0.5px;    
}

.node:hover 
{
  stroke: #000;
  stroke-width: 1.5px;
}

/*.node--leaf {
  fill: white;
}*/

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root
/*, .node--leaf  */
{
  pointer-events: none;
}

.modal-dialog
{
  width: 60%;
  margin-top: 5%;
}


.modal-loader
{
  margin-top: 5%;
  width: 100%;
  height: 100%;
  position: absolute;  
}

.modal-loader img
{
  position: relative;
  margin-top: 20%;
  margin-left: 45%;
  width: 128px;
  height: 128px;
}

/* ======================================================================= */

.header 
{
  margin: 0px 0px 0px 0px;
  padding-left: 5px;
  padding-right: 5px; 
  width: 100%;
}  

.adjust-first-column
{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-top: 5px;
  height: 32px;
  width: auto;
}

.adjust-select-file
{
  width: 620px;
  min-width: 180px;
  max-width: 620px;  
}

.adjust-column
{
  padding-right: 0px;
  width: auto;
  height: 32px;
  margin-top: 5px;
}

@media (max-width:1376px) 
{
  .adjust-column
  {
    padding-left: 1px;
  }
  .adjust-select-file
  {
    width: 180px;
  }
}

.adjust-button
{
  padding-left: 4px;
}

.adjust-alert
{
  padding: 0px;
  margin: 6px 0px 0px 5px;
}

/**/

.node--hover rect 
{
  stroke: #000;
  stroke-width: 2.5;
}

.adjust-row
{
  margin: 8px 0px 0px 0px;
  padding: 0px;
  border: 0px;
}

.adjust-input
{
  width: 85px;
}

.adjust-space
{
  margin-right:60px;
}

/* ======================================================================= */

#image_tooltip 
{
  position: absolute;
  width: 100px;
  height: 100px;
/*   padding: 10px; */
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#image_tooltip.hidden {
  display: none;
}

#image_tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#image_tooltip img
{            
  width: 100px;
  height: 100px;
}

/* ======================================================================= */

.adjust-nav-tabs
{
  height: 20px;
}

.adjust-tab
{
  height: 100%;
}

#tabs a
{
  padding: 0;
}
